/*Обнуление*/
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
html, body, div, ul,
*{margin:0;padding: 0;}
h1, h2, h3,  pre, form, label, input, p,
blockquote, th, td { margin:0; padding:0 }
img { border:0 }
ul { list-style:none }
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------------------*/

/*шрифты*/
@font-face {
font-family: "Anders"; 
src: url("../shrifts/Anders.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
/*-------------------------------------------------------*/
body{
	font-family: Arial, sans-serif;	
	background: #EBEBEB;
	padding-top: 250px;
	font-family: 'Josefin Slab', serif;
	color: #0B0B0B;
}
.shudow:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.wrapper{
	width: 100%;
	height: 100%;
}

.clearfix:after {
	content:""; 
	display: table;
	width: 100%;
	clear:both;
}
.container{
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}
.container2{
	width: 100%;
	max-width: 1024px;
	margin:0 auto;
}
.top_logo{
	text-align: center;
	display: flex;
	justify-content: center;
}
.top_logo button{
	display: flex;
	border: 2px solid grey;
}
.top_logo button:hover{
	background: inherit;
}
.top_logo .text_top_logo{
	display: block;
	font-family: 'Anders';
	color: rgba(0,0,0,0.8);
	font-size: 80px;
	font-weight: inherit;
	text-transform: uppercase;
}
.pod_logo{
	background: white;
}
.pod_logo img{
	height: 40px;
}
nav {
	background: white;
	margin-top: 120px;
	display: flex;
	justify-content: space-around;
	padding: 40px 0 ;
	align-items: center;
	transition: all 0.3s;
}
.menu ul{
	display: flex;
}
.menu li a{
	text-transform: uppercase;
	margin-left: 2em;
	font-size: 17px;	 
	display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный */
	line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
	color:black;/*Задаём цвет ссылки*/
}


.menu_link{
	transition: width 0.5s ease-in-out;
}
.menu_link:after {
	margin:0 auto;
	margin-top: 2px;
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 2px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: black; /*цвет фона элемента*/
    transition: width 0.5s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.menu_link:hover:after,
.menu_link:focus:after {
    width: 100%;
}
.dws_input{
	display: flex;
	align-items:center;
}
.poisk input{
	border:1px solid grey;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 15px 5px 40px;
	width: 100%;
}
i.fa {
	font-size: 16px;
	position: relative;
	right: -30px;
	z-index: 1;
	color:rgba(0,0,0,0.2);
}

/*-------------------------------------------------------------------*/
#meshu{
	margin-top: 90px;
}
.get_it{
	background: url(../images/Photo.jpg) no-repeat center top / cover;
	width: 100%;
	max-width: 1120px;
	height: auto;
	display: block;
	transition: all 0.5s;
}
.fruckt{
	padding: 50px 20px 60px 90px;
}
.fruckt img{
	height: 110px;
}
.fruckt h2{
	margin-top: 35px;
	color: #B41E35;
	font-size: 25px;
	font-family: 'Josefin Slab', serif;
}
.fruckt p{
	margin: 30px 0 0 0;
	color: #0B0B0B;
	font-size: 16px;
}
button{
	padding:5px 10px 5px 10px;
	border: 1px solid rgba(0,0,0,0.2);
	transition: all 0.5s ease;
	background: inherit;
	margin-top: 25px;
}

button:hover{
	cursor: pointer;
	background: grey;
}
button:hover .fi{
	color: white;
}
button .fi{
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	color: black;
	transition: all 0.5s ease;
}
.get_it_resp_bit{
	display: none;
}
/*---------------------------------------------------------------------------*/
#porsu{
	margin:85px 0 0 0;
}
.porsii{
	background: white;
	display: flex;
	justify-content: space-around;
	font-size: 18px;
	color: #0B0B0B;
	align-items: center;
	text-align: center;
	padding: 30px 30px 40px 30px;
	transition: all 0.4s;
}
.pors:last-child{
	padding-top: 20px;
}
.pors img{
	width: 100%;
	max-width: 500px;
	height: auto;
}
.pors p{
	margin-top: 12px;
	font-size: 18px;
}
/*---------------------------------------------------------------------------*/
#BANANA{
	margin-top: 100px;
}
.bananas{
	background: url(../images/Photo11.png) no-repeat center top / cover;
	transition: all 0.4s;
	padding-top: 40px;
	padding-bottom: 25px;
}
.bananas_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin:0 80px 0 0 ;
}
.bananas .bananas_text h2{
	color: #005454;
	font-size: 32px;
	font-weight: bold;
}

.bananas .bananas_text button{
	float: right;
	margin:30px 0 0 0;
}

.bananas .bananas_text p{
	margin-top: 25px;
	line-height: 18px;
	font-size: 16px;
}
.poragrafs::-webkit-scrollbar {
	width: 2px;
}
.poragrafs::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.1);
}
.poragrafs::-webkit-scrollbar-thumb {
	background:black;
	border-radius: 5px;
}
.poragrafs{
	overflow: auto;
	height:290px;
	width: 100%;
	max-width: 480px;
	margin:15px 0 0 0;
	padding: 0 5px 0 0;
}

.bananas h5{
	font-size: 16px;
	margin-top: 25px;
}
/*---------------------------------------------------------------------*/
.portfolies{
	margin-top: 100px;
}
.potfolio{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
/*ошибка*/
.problem{
	background: url(../images/ipn1.png);
	width: 520px;
	height: 520px;
	transition: all 0.4s;
}
.ziga{
	width: 450px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	margin:0 auto;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: 'Josefin Slab', sans-serif;
}
.otvet{
	text-align: center;
	margin-left: 15px;
	padding-top: 195px;
}
.otvet h3{
	font-size: 34px;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 10px;
}
.otvet span{
	text-transform: uppercase;
	font-weight: bold;
	color: #ACACAC;	

}
.bot .fi{
	padding:5px 30px 5px 30px;
	border: 1px solid grey;
	color: black;
	transition: all 0.5s ease;
}
.bot .fi:hover{
	cursor: pointer;
	background: grey;
	color: white;
	transition: all 0.5s ease;
}
.bot{
	margin-top: 140px;
}
.bot a{
	text-transform: uppercase;
	color: grey;
	line-height: 20px;
}

/*author*/
.author{
	background: white;
	width: 520px;
	height: 520px; 
	transition: all 0.5s;
}
.author_contant{
	display: flex;
}
.author .author_text{
	max-width: 55%;
	margin-left: 20px;
}
.author .author_contant .author_img img{
	margin-left: 30px;
	margin-top: 20px;
}
.author .author_contant .author_text .name_au{
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding-bottom: 20px;
}
.author .author_contant .author_text .name_au p{
	font-size: 16px;
}
.author .author_contant .author_text p{
	margin-top: 10px;
	font-size: 14px;
	margin-left: 0;
}
.author .author_contant .author_text h4{
	margin-top: 30px;
	font-size: 24px;
}
.author .author_contant .author_text h5{
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 30px;

}
.author .author_contant .author_text .ob{
	line-height: 16px;
}
.author .author_contant .author_text .rosp{
	float: right;
	margin-top: 20px;
}
.author .author_contant .author_text .rosp:hover{
	cursor:inherit;
}
/*---------------------------------------------------------------------*/
#portfolio{
	padding-top: 70px;
	padding-bottom: 100px;
	margin:0 auto;
}
.pod_portfolio{
	display: flex;
	justify-content: space-between;
}
.cichiorchichi{
	background: white;
	width: 300px;
	height: 360px;
	transition: all 0.4s;
}
.ziga2{
	width: 250px;
	margin:0 auto;
	border-bottom: 1px solid grey;
	font-weight: bold;
	padding-top: 10px;
	font-family: 'Josefin Slab', serif;
	color: #005454;
	font-size: 22px;
	line-height: 50px;
}
.avu{
	margin-top: 15px;
}
.piu{
	float: right;
	margin-right: 35px;
	margin-top: 20px;
}
.piu span{
	font-weight: bold;
}
.slidi{
	margin-top: 10px;
	width: 100%;
}
.Recipe{
	min-height: 450px;
	width: 290px;
	background: white;
	transition: all 0.4s;
}
.ziga3{
	width: 250px;
	line-height: 32px;
	padding-left: 5px;
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 2px solid rgba(0,0,0,0.2)
}
.meni ul{
	display: flex;
	padding-top: 15px;
	justify-content: space-around;
}
.meni a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 12px;
}
.meni a:hover{
	font-weight: bold;
}
.menisha1{
	padding-top: 20px;
}
.menisha{
	margin-top: 15px;
}
.menisha1 span, p{
	font-size: 12px;
}
.menisha1 p{
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	margin-left: 100px;
}
.menisha1 img{
	float: left;
	margin-left: 20px;
}
.botomi .fi{
	padding:5px 10px 5px 10px;
	border: 2px solid grey;
	transition: all 0.5s ease;
}
.botomi .fi:hover{
	cursor: pointer;
	background: grey;
	color: white;
	transition: all 0.5s ease;
}
.botomi{
	float: right;
	text-align: center;
	margin-top: 30px;
	margin-right: 20px;
}
.botomi a{
	text-transform: uppercase;
	color: grey;
	line-height: 25px;
	font-weight: bold;
}
.popularNow{
	background: url(../images/Photodfsf.png) no-repeat center top / cover;
	width:290px;
	height:360px;
	padding-top: 30px;
	transition: all 0.4s;
}
.ziga4 .zag{
	color: #AB0722;
	font-weight: bold;
	font-size: 32px;
	border-bottom: 3px solid white;
	width: 250px;
	margin-left: 15px;
}
.vnutre .zag2{
	font-weight: bold;
	margin-left:15px;
	font-size: 22px;
}
.vnutre p{
	font-size: 16px;
	margin-top: 18px;
	margin-left: 20px;
}
.botop .fi{
	padding:5px 10px 5px 10px;
	border: 1px solid grey;
	transition: all 0.5s ease;
}
.botop .fi:hover{
	cursor: pointer;
	background: grey;
	color: white;
	transition: all 0.5s ease;
}
.botop{
	margin-left: 20px;
	margin-top: 20px;
}
.botop a{
	text-transform: uppercase;
	color: grey;
	font-size: 12px;
	line-height: 22px;
}
.torget{
	width: 290px;
	float: left;
	height: 470px;
	background: white;
	margin-left: 50px;
}
.ziga5{
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	line-height: 40px;
}
.torget h6{
	font-size: 20px;
	color: #005454;
	margin-left: 30px;
	margin-top: 15px;
}
.proc{
	margin-top: 30px;
}
.proc img{
	float: left;
	margin-left: 25px;
}
.proc span{
	margin-left: 20px;
}
.proc p{
	float: right;
	margin-right: 75px;
	margin-top: 10px;
}
.proc0{
	margin-top: 70px;
	
}
.proc0 img{
	float: left;
	margin-left: 25px;
}
.proc0 span{
	margin-left: 20px;
}
.proc0 p{
	float: right;
	margin-right: 75px;
	margin-top: 10px;
}
.proc1{
	margin-top: 80px;
}
.proc1 img{
	float: left;
	margin-left: 25px;
}
.proc1 span{
	margin-left: 20px;
}
.proc1 p{
	margin-top: 10px;
	float: right;
	margin-right: 60px;
	font-size: 14px;
}
.togsi{
	width: 290px;
	height: 160px;
	background: white;
	margin-top: 50px;
	margin:0 auto;
}
.togsi p{
	text-transform: uppercase;
	line-height: 25px;
	margin-left: 25px;
}
.stran2{
	margin-top: 60px;
}
.presentationline{
	background: white;
	height: 470px;
	margin-top: 40px;
	width: 290px;
	transition: all 0.4s;
}
.oglav{
	margin-left: 30px;
}
.oglav p{
	font-weight: bold;
	font-size: 20px;
	font-family: Arial, sans-serif;
	color: #006767;
	margin-top: 20px;
}
.procent:first-child{
	padding-top: 30px;
}
.procent{
	padding-top: 40px;
	color: #ADADAD;
}
.procent span{
	margin-left: 20px;
}
.procent p{
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
	margin-left: 100px;
	color: #ADADAD;
	line-height: 17px;
}
.procent img{
	float: left;
	margin-left: 20px;
}

.tags1{
	background: white;
	height: 160px;
	width: 290px;
	margin-top:50px;
	transition: all 0.4s;
}
.tags1 .shtrihh{
	margin-top: 10px;
	margin-left: 20px;
}
.tags1 .shtrihh p{
	text-transform: uppercase;
	font-size: 12px;
	line-height: 10px;
	font-family: Arial, sans-serif;
	margin-left: 10px;
}

.calendare{
	height: 365px;
	width: 290px;
	background: white;
	margin-top: 45px;
	box-sizing: border-box;	
	transition: all 0.4s;
}
.calendare .date{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
	grid-gap: 10px;
	box-sizing: border-box;
}
.calendare .date div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	color: #262626;
}
.calendare .date div.day{
	font-weight: 700;
	border-bottom: 1px solid black;
}
.calendare .date div.numberser{
	font-weight: 700;
	color: #CECECE;
}
.calendare .date div.day:first-child,
.calendare .date div.number:nth-child(7n + 1){
	color: red;
	font-weight: 700;
}
.mesyac{
	text-align: center;
	margin-top: 20px;
}
.mesyac p{
	font-size: 18px;
}

.timeline{
	height: 430px;
	width: 290px;
	background: white;
	margin-top: 40px;
	transition: all 0.4s;
}
.polosiie{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 75px;
	width: 205px;
	border-bottom: 1px solid #DEDEDE;
	margin-left: 40px;
	padding-bottom: 20px;
}
.poragraf p{
	display: flex;
	font-size: 18px;
	padding-bottom: 40px;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg); /* разворот элемента для разных бразуеров*/
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	justify-content: flex-end;
	margin-top: 0px;
}
.polosa2 p{
margin-top: 5px;
}
.polosa3 p{
margin-top: 55px;
}
.polosa1{
	height: 70px;
	width: 8px;
	background-color: #55D1C6;
}
.polosa2{
	height: 100px;
	width: 8px;
	background-color: #005858;
}
.polosa3{
	height: 130px;
	width: 8px;
	background-color: #D40052;
}
.poragif{
	text-align: center;
	margin-top: 15px;
}
.poragif p{
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.container3{
	width: 100%;
	max-width: 745px;
	margin:0 auto;
}
/*----------------------------------------------------------------------*/
#registraciya{
	padding-bottom: 125px;
}
.wwodpole{
	display: flex;
	justify-content: space-between;
}
.login{
	width: 330px;
	height: 405px;
	background: white;
	transition: all 0.4s;
}
.signin{
	width: 330px;
	height: 535px;
	background: white;
	transition: all 0.4s;
}
.logsiinfol{
	margin-top: 25px;
	margin-left: 32px;
}
.logsiinfol p{
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.polya {
	margin-top: 25px;
	text-align: center;
}
.polya input{
	height: 40px;
	width: 265px;
	border: 1px solid grey;
	margin-top: 15px;
	padding-left: 5px;
}
.buttonlogsi .fi{
	padding:5px 10px 5px 10px;
	border: 2px solid grey;
	line-height: 25px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	color: black;
	transition: all 0.5s ease;
}
.buttonlogsi .fi:hover{
	cursor: pointer;
	background: grey;
	color: white;
	transition: all 0.5s ease;
}
.buttonlogsi{
	text-align: center;
	margin-top: 30px;
}
.icons2{
	display: flex;
	justify-content: center;
}
.icons2 a{
	font-size: 30px;
	font-weight: bold;
	color: black;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	transition: all 0.5s ease;
}
.icons2 a:hover{
	color: grey;
	transition: all 0.5s ease;
}
.icons2 a:first-child{
	margin-left: 0;
}
.nisha{
	padding: 0 10px;
}
.nisha p{
	margin-top: 5px;
	font-size: 20px;
}
.nisha span{
	font-weight: bold;
}
.nisha .greens{
	color: green;
	display: block;
	font-size: 1em;
	margin: 5px 0 0 0;
}
/*------------------------------------------------------------------------*/

.container4{
	width: 100%;
	max-width: 840px;
	margin:0 auto;
}
.postcoment{
	height: 190px;
	background: white;
	transition: all 0.4s;
}
.shapkspostcom{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left: 40px;
}
.oglavlenyei{
	float: left;
}
.shapkspostcom p{
	font-size: 24px;
	font-family: Arial, sans-serif;
}
.soceset{
	float: right;
	margin-right: 55px;
}
.soceset span{
	font-size: 16px;
	font-weight: bold;
}
.otpravit{
	width: 750px;
	height: 90px;
	padding-top: 15px;
	background: #F6F6F6;
	margin:0 auto;
}
.otpravit img{
	float: left;
	margin-left: 18px;
}
.otpravit .impit2 input{
	width: 500px;
	height: 40px;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}
.butonotp .fi{
	padding:10px 15px 10px 15px;
	border: 2px solid grey;
	line-height: 25px;
	background: grey;
	text-transform: uppercase;
	line-height: 40px;
	color: white;
	transition: all 0.5s ease;
}
.butonotp .fi:hover{
	cursor: pointer;
	background: white;
	color: grey;
	font-weight: bold;
	transition: all 0.5s ease;
}
.butonotp{
	float: left;
	margin-top: 10px;
}
/*-------------------------------------------------------------------*/
.footer{
	margin-top: 150px;
	background:#2f2f2f;
	padding: 50px 50px 50px 100px;
}
footer .konece{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .konece img{
	width: 120px;
	height: auto;
}
footer .konece .menu3 ul{
	display: flex;
}
footer .konece .menu3 li a{
	color: #767676;
	font-size: 12px;
	margin-left: 20px;
	font-weight: 300;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.5s ease;
}
footer .konece .menu3 li a:hover{
	color: white;
	transition: all 0.5s ease;
}
footer .konece .social_og{
	
	margin-top: 40px;
}
footer .konece .social_og p{
	color: #767676;
}
footer .konece .social_og .sety{
	float: right;
	margin-top: 15px;
}
footer .konece .social_og .sety a{
	color: #767676;
	font-size: 20px;
	margin-left: 10px;
	transition: all 0.5s ease;
}
footer .konece .social_og .sety a:hover{
	color: white;
	transition: all 0.5s ease;
}
img{
	transition: all 0.5s ease;
}
img:hover{
	opacity: 0.9;
	cursor: pointer;
}